body {
  font-family: Consolas;
  background-color: #f4f4f4;
  color: #333;
}
h1 {
  color: #ff6f00;
  text-shadow: 3px 3px 3px gray;
}

a {
  color: #0073e6;
  text-decoration: none;
}

a:hover {
  color: #ff6f00;
  font-size: 18px;
  text-shadow: 3px 3px 3px gray;
  font-weight: bold;
}

a::after {
  content: "📚";
}

ul > li {
  font-weight: bold;
}

ul li:hover {
  color: #ff6f00;
  text-shadow: 3px 3px 3px gray;
  font-size: 18px;
}

ul li::before {
  content: "🚀";
}

ul li:nth-child(3) {
  background-color: #ddd;
}

p::first-letter {
  font-size: 150%;
  color: #ff6f00;
}
